GurmeetDhaliwal_PreSCreening/WpfClient/Service References/ServiceReference1/GurmeetDhaliwal_PreSCreening.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GurmeetDhaliwal_PreSCreening" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GurmeetDhaliwal_PreSCreening" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCAr">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CAr" nillable="true" type="tns:CAr" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCAr" nillable="true" type="tns:ArrayOfCAr" />
  <xs:complexType name="CAr">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Make" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Manufacture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Release_Year" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Seating" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CAr" nillable="true" type="tns:CAr" />
</xs:schema>