GurmeetDhaliwal_PreSCreening/WpfClient/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GurmeetDhaliwal_PreSCreening" />
  <xs:element name="addCar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="manufacure" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="make" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="release_year" type="xs:dateTime" />
        <xs:element minOccurs="0" name="seating" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCars">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllCarsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GurmeetDhaliwal_PreSCreening" minOccurs="0" name="getAllCarsResult" nillable="true" type="q1:ArrayOfCAr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>